@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src:url(../fonts/raleway/raleway-800.woff2);
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/rubik/rubik-400.woff2);
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src:url(../fonts/rubik/rubik-700.woff2);
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: 'Rubik', 'sans-serif';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
.page-header {
  box-sizing: border-box;
  color: #000000;
  background: #FFE17F;
  width:1160px;
  padding: 0 60px;
  margin-top: 40px;
}
.users-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search {
  display: flex;
  justify-content: flex-start;
  width: 517px;
  margin-right: 26px;
}
.navigation-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.navigation {
  display: flex;
  flex-direction: row;
  width: 471px;
  justify-content: space-between;

}
.navigation-item {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.navigation-item .login {
  margin-left: 26px;
  margin-right: 26px;
  width: 231px;
}
.navigation-item button {
  margin-left: 21px;
  margin-right: 150px;

}
.navigation-list {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-around;
  width: 1040px;

}
.main-container {
  width: 100%;
  flex-grow:1;
}
.catalog  {
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.catalog-menu-item {
  text-decoration:none;
  color: #000000;
  text-align: center;
  margin: 0;
}
.catalog-menu-item:first-child {
  margin-right: auto;
}
.subitem {
  text-decoration: none;
  color: #000000;
}
/* main title */

.slide {
  display: flex;
  flex-direction: row;
}
.slider-header {
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}
.description-link {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.description-value {
  font-size: 36px;
  line-height: 30px;
}
.description-name {
  font-size: 16px;
  line-height: 30px;
}
.catalog-links {
  display: flex;
  flex-direction: row;
  width: 1160px;
  padding: 0;
  margin: 0 auto;
}
.catalog-item {
  margin-right: 40px;
  width: 160px;
}
.catalog-item:nth-child(6n){
  margin-right: 0;
}
.catalog-item-link {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}
.features-toggle {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFE17F;
}
.features-header {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.features-description {
  color: #444444;
}
.delivery {
  width: 1160px;
  margin: auto;
  background-color: #F0F0F0;
}
.delivery-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.slider-container-features {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.features-toggles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 280px;
  margin-right: 116px;
}
.slide-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 694px;
}
.slider-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 452px;
  margin-right: 106px;
}
.wrap-slider-features {
  background: #F0F0F0;
  width: 100%;
}

.about-title {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}
.about-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.about {
  width: 520px;
}
.contacts {
  width: 532px;
}
.container-newsletter-title{
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin: auto;
  align-items: baseline;
}
.container-form {
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin: auto;
  justify-content: space-around;
}
.delivery-list a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: inherit;
}
.about a {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}
.about p {
  color: #444444;
}
.contacts h2 {
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.contacts p {
  color: #444444;
}
.contacts h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}
.contacts-address-text {
  color: #444444;
}
.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}
.contacts-schedule  {
  color: #444444;
}
.button-feedback {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.newsletter {
  width: 100%;
  background: #F0F0F0;
}
.newsletter h2 {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}
.newsletter p {
  color: #444444;
}
.newsletter-form {
}
.newsletter-email {
  color: #444444;
  opacity: 0.5;
}
.subscribe {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.free-feature {
  color: #444444;
}
.page-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #444444;
  color: #ffffff;
}
.page-footer-container {
  display: flex;
  flex-direction: row;
  width: 1160px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  margin-left: 140px;
  margin-right: 140px;
}
.footer-contacts-address {
  font-size: 16px;
  line-height: 20px;
}
.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF
}
.footer-bottom-line a {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.footer-top-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: auto;
}
.footer-capabilities-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-capabilities-list a {
  color: inherit;
  text-decoration: none;
}
.footer-bottom-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.html-academy-link {
  width: 114.9px;
  height: 32.9px;
  left: 0px;
  top: 0px;
  text-decoration: none;
}
.main-inner {
  background: #FFFFFF;
}
.inner-header-title {
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}
.container-inner-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 1160px;
  padding-left: 60px;
  align-items: flex-start;
}
.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000000;
}
.breadcrumbs-link {
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}
.container-catalog-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  width: 840px;
}
.container-catalog-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  margin: 0;
}
.product-card:nth-child(odd) {
  margin-right: 40px;
}
.sort-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-catalog-products {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1160px;
  margin: auto;
  background: #F0F0F0;
}
.catalog-products {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1160px;
  margin:auto;
  flex-wrap: wrap;
  background-color: #F0F0F0;
}
.catalog-products h2 {
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.catalog-products h3 {
  font-family: 'Rubik', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.catalog-filter-title {
  font-family: 'Rubik', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.control-input {
  font-size: 16px;
  line-height: 20px;
  background: #000000;
}
.catalog-filter .button {
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.select-control {
  font-size: 18px;
  line-height: 30px;
}
.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  padding: 0 40px 0 40px;
  background: #FFFFFF;
}
.product-card h2 {
  font-family: 'Rubik', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.product-card a {
  text-decoration:none;
}
.product-card-price {
  line-height: 21px;
  text-align: right;
}
.product-card-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
  margin: 0;
  align-items: baseline;
}
.pagination-show-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Raleway','sans-serif';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}
.catalog-pagination {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
}
.pagination-list {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background: #EBEBEB;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  width: 100%;
}
.pagination-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
}
.pagination-prev {
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.pagination-next {
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000
}
